{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <h1>Evenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdEvenement</th>
                <th>Titre_Evenement</th>
                <th>Date_Evenement</th>
                <th>Description_Evenement</th>
                <th>Organisateur_Evenement</th>
                <th>Lien_Evenement</th>
                <th>Lieu_Evenement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.idEvenement }}</td>
                <td>{{ evenement.TitreEvenement }}</td>
                <td>{{ evenement.DateEvenement ? evenement.DateEvenement|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ evenement.DescriptionEvenement }}</td>
                <td>{{ evenement.OrganisateurEvenement }}</td>
                <td>{{ evenement.lienEvenement }}</td>
                <td>{{ evenement.LieuEvenement }}</td>
                <td>
                    <a href="{{ path('app_evenement_show', {'idEvenement': evenement.idEvenement}) }}">show</a>
                    <a href="{{ path('app_evenement_edit', {'idEvenement': evenement.idEvenement}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_evenement_new') }}">Create new</a>
{% endblock %}
