{% extends 'base.html.twig' %}

{% block body %}
    <h1>Register</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nomUser) }}
        {{ form_row(registrationForm.prenomUser) }}
        {{ form_row(registrationForm.emailUser) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.numtelephoneUser) }}
        {{ form_row(registrationForm.datenaissanceUser) }}
        <button class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
