{% extends 'base.html.twig' %}

{% block title %}Recherche d'événements{% endblock %}

{% block body %}
    <h1>Rechercher des événements</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Rechercher</button>
    {{ form_end(form) }}

    {% if evenements is not empty %}
        <h2>Résultats :</h2>
        <ul>
            {% for evenement in evenements %}
                <li>
                    <strong>{{ evenement.Titre_Evenement }}</strong><br>
                    Date : {{ evenement.Date_Evenement|date('Y-m-d') }}<br>
                    Organisateur : {{ evenement.Organisateur_Evenement }}<br>
                    Lieu : {{ evenement.Lieu_Evenement }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun événement trouvé.</p>
    {% endif %}
{% endblock %}
