{% extends 'base.html.twig' %}

{% block title %}Message Forum Index{% endblock %}

{% block body %}
<div class="index-page">
    <h1 class="text-center">Message Forum Index</h1>

    <table class="table table-hover table-bordered">
        <thead class="table-primary">
            <tr>
                <th>ID</th>
                <th>Creator</th>
                <th>Forum ID</th>
                <th>Content</th>
                <th>Creation Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message_forum in message_forums %}
            <tr>
                <td>{{ message_forum.idMessageForum }}</td>
                <td>{{ message_forum.createurMessageForum }}</td>
                <td>{{ message_forum.idForum }}</td>
                <td>{{ message_forum.conetenuIdMessageForum }}</td>
                <td>{{ message_forum.dateCreationIdMessageForum ? message_forum.dateCreationIdMessageForum|date('Y-m-d H:i:s') : '' }}</td>
                <td class="action-buttons">
                    <a href="{{ path('app_message_forum_show', {'idMessageForum': message_forum.idMessageForum}) }}" class="btn btn-outline-info btn-sm">Show</a>
                    <a href="{{ path('app_message_forum_edit', {'idMessageForum': message_forum.idMessageForum}) }}" class="btn btn-outline-primary btn-sm">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" class="text-center">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center mt-4">
        <a href="{{ path('app_message_forum_new') }}" class="btn btn-success">Create New Message</a>
    </div>
</div>
{% endblock %}
