{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
<div class="show-page">
    <h1>Forum Details</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ forum.idForum }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ forum.titreForum }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ forum.descriptionForum }}</td>
            </tr>
            <tr>
                <th>Creator</th>
                <td>{{ forum.createurForum }}</td>
            </tr>
        </tbody>
    </table>

    <div class="btn-group">
        <a href="{{ path('app_forum_index') }}" class="btn btn-secondary">Back to List</a>
        <a href="{{ path('app_forum_edit', {'idForum': forum.idForum}) }}" class="btn btn-primary">Edit</a>
        {{ include('forum/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
